@use "__reset";
@use "__variables" as v;

body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: v.$color-bg;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  background-color: v.$color-primary;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  height: 90vh;

  width: 90vh;
  &__list {
    margin-top: 20px;
  }
  &__list-item {
    color: v.$color-bg;
  }
}
form {
  position: absolute;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
